/bin/
.classpath
.project
src/me/.DS_Store
.settings/
.DS_Store
log
.cvsignore
.tomcatplugin
WEB-INF/classes
WEB-INF/web.xml
www/WEB-INF/classes
www/WEB-INF/web.xml
_archive
www/WEB-INF/conf/web.dev.mh.xml
