<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>MealTicket &middot; Home</title>
        <meta name="description" content="Home of the MealTicket">
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <!--
            WE'LL NEED TO COME UP WITH A LOGO TO REPLACE THIS:
        -->
        <div class="container">
        <!--
        "... because you gotta eat", 
        "because it's hard to think when you're hungry",
        "we plan, you eat"
        -->
        <h2>MealTicket - the ticket to plannning your meals</h2> 
        </div>
        <div class="containerwhite">
        <p>Here we plan to include:</p>
        <ul>
            <li>Instant access to the plan of the week</li>
            <li>1000's of recipes to choose from with the <a href="/edamapi">Edamam Search API</a></li>
            <li>Easy meal planning with the recipes you've discovered</li>
        </ul>
        </div>
    </body>
        <div class="container"> Developer info:
        <ul>
            <li><a href="http://themealticket.com">MealTicket</a></li>
            <li><a href="https://github.com/mealticket">MealTicket on GitHub</a></li>
            <li><a href="https://github.com/mealticket/wiki">MealTicket Wiki</a></li>
        </ul>
        </div>
        
            
            
        <!-- HOW TO CREATE WHITESPACE THAT LOOKS LIKE MULTIPLE PARAGRAPHS?-->

        <!--Made with <3 in the East Bay, CA-->
 
</html>
